<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Marketplace</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin: 20px">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1 style="font-size: 50px">Books</h1>
        <h3 th:inline="text">You are logged in as [[${#httpServletRequest.remoteUser}]]!</h3>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>     
    </div>
    

</body>
</html>